
@{
    
    ViewData["Title"] = "edit";
}

@model PilotAndRoleMergeViewModel
<h1>edit</h1>
 
<form method="post">

    <input type="hidden" asp-for="PilotDetail.Id" />
    <div class="form-group">
        <label asp-for="PilotDetail.LastName"></label>
        <input asp-for="PilotDetail.LastName" class="form-control" />
        <label asp-for="PilotDetail.Role"></label>
        <select class="form-control" asp-for="Roles" asp-items=")">
         
                <option value=""></option>
            
        </select>


    </div>
   

      

</form>














